@charset "UTF-8";

.main {
    background-color: rgb(255, 222, 74);
}
.vertical-scroll {
    overflow-y: auto;
    height: 60vh;
}
select#categorias {
    font-size: 1em;
    background-color: #d3dbde;
    border: 2px solid #00597a;
    color: #00597a;
}

label.btn {
    border: 2px solid #00597a;
    outline: none;
}
label.active {
    background-color: #00597a;
    outline: none;
}
label.focus {
    outline: 2px solid rgb(255, 222, 74);
}
.btn-group {
    z-index: 0;
}
.btn-svg {
    width: 2em;
    height: 2em;
    fill: #00597a;
    stroke: #00597a;
    stroke-width: 4px;
}
label.active .btn-svg {
    fill: rgb(255, 222, 74);
}


section {
    background-color: #d3dbde;
}
article {
    flex: none;
    width: 250px;
    height: 370px;
    cursor: pointer;
}
article img {
    width: 200px;
    height: 200px;
}

article a, p, button {
    font-size: 1.1em;
}
