@charset "UTF-8";

/* MAIN GRID */
main {
    margin-top: 90px;
}

/* TOOLBAR */
.toolbar {
    width: 100vw;
    height: 50px;
    background-color: rgb(255, 222, 74);
    position: fixed;
    bottom: 0;
    z-index: 2;
    display: grid;
    grid: "categories  search-box searches-toolbar" 50px
        /  55px        auto       55px;
    align-items: start;
}

/* BOTÕES */
label.btn {
    box-sizing: border-box;
    border: 1px solid #ffde4a;
}
label:focus {
    background-color: #00597a;
}
label:focus svg {
    fill: rgb(255, 222, 74);
}
label.active {
    background-color: #00597a;
}
label.active svg {
    fill: #ffde4a;
}
label input {
    display: none;
}
label svg {
    width: 2em;
    height: 2em;
    fill: #00597a;
    stroke: #00597a;
    stroke-width: 4px;
}


/* BOTÕES DE CATEGORIA */
nav.categories {
    grid-area: categories;
    position: relative;
    width: fit-content;
    justify-self: left;
}
ul#categories {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: fit-content;
    height: calc(100vh - 140px);
    position: relative;
    bottom: calc(100vh - 96px);
    z-index: 1;
    padding: 0;
    background-color: #ffde4a;
    list-style-type: none;
    transition: bottom 0.25s ease-in-out;
}
ul#categories li {
    background-color: rgb(255, 222, 74);
    padding: 0.25em 0;
}
ul#categories label span {
    display: none;
}

/* CAIXA DE PESQUISA */
.search-box {
    grid-area: search-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box button {
    display: none;
}
.search-box input {
    width: 80%;
    height: 70%;
    padding: 0.25em;
    border: 1px solid #303131;
    border-radius: 0.25em;
    font-size: 1.25em;
}
.search-box p#msg-results {
    display: none;
    position: absolute;
    color: #00597a;
    font-weight: 600;
    font-size: 1.2em;
    bottom: 50vh;
}

/* BOTÕES DE PESQUISA */
.searches-toolbar {
    grid-area: searches-toolbar;
    position: relative;
    width: 100%;
    text-align: right;
}
div#btn-toolbar {
    background-color: rgb(255, 222, 74);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: fit-content;
    height: calc(100vh - 140px);
    position: relative;
    bottom: calc(100vh - 96px);
    z-index: 1;
    transition: bottom 1s ease-in-out;
}
div#filter-search {
    display: flex;
    flex-direction: column;
    margin: 0 0 1em;
}
div#sort-search {
    display: flex;
    flex-direction: column;
    margin: 1em 0 0;
}
div#btn-toolbar label.btn {
    margin: 0.45em 0;
}

/* SEÇÃO DOS CARDS */
section {
    grid-area: section;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
    padding: 2em 1em;
    justify-content: center;
}
article {
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: none;
    width: 215px;
    height: 400px;
    margin: 1em 1.2em;
    cursor: pointer;
    background-color: #d9cfe2;
    opacity: 0;
    transition: opacity 2s ease;
}
article:hover {
    transform: translateY(-5px);
    transition: transform 0.25s linear;
    box-shadow: 1px 8px 20px 0px hsl(0, 0%, 50%);
}
article .img-holder {
    overflow: hidden;
    width: 215px;
    height: 215px;
    transition: height 0.5s ease-in-out;
}
article img {
    object-fit: cover;
    width: 215px;
    height: 215px;
}
/* article:hover .img-holder {
    height: 155px;
    transition: height 0.5s ease-in-out;
} */
article .content {
    width: 230px;
    height: 150px;
    margin: 0.75em 0;
}
article .content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8em;
}
article .content-body {
    display: flex;
    padding: 1em;
    padding-top: 0;
}
article a, p, button {
    font-size: 1.1em;
}
article a {
    font-weight: 600;
    color: #00597a;
}
article a:hover {
    color: #881600;
}
article button {
    padding: 0 !important;
}
article button svg {
    width: 1.4em;
    height: 1.4em;
    fill: #00597a;
}
article button svg:hover {
    fill: #881600;
}

.loader {
    width: 3em;
    height: 3em;
    border: 4px solid #d9cfe2;
    border-top: 4px solid#881600;
    border-radius: 1.5em;
    position: fixed;
    left: 45vw;
    top: 45vh;
    opacity: 1;
    transition: opacity 1s ease;
    animation: spin 0.8s linear 5;
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* MEDIA QUERIES */

/* LANDSCAPE */
@media only screen and (max-height: 425px) and (orientation: landscape) {

    /* BARRA DE CATEGORIAS ABRIR HORIZONTALMENTE */
    ul#categories {
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        height: fit-content;
        bottom: 85px;
    }
    ul#categories li {
        padding: 0 0.35em;
    }
    ul#categories li:first-child {
        padding-left: 0;
    }

    /* BARRA DE PESQUISA */
    .search-box p#msg-results {
        bottom: 35vh;
    }

    /* BARRA DE PESQUISAS ABRIR HORIZONTALMENTE */
    div#btn-toolbar{
        flex-direction: row;
        width: 100vw;
        height: fit-content;
        bottom: 85px;
        right: calc(100vw - 55px);
    }
    div#filter-search {
        flex-direction: row;
        margin: 0 1em;
    }
    div#sort-search {
        display: flex;
        flex-direction: row;
        margin: 0 1em;
    }
    
    div#btn-toolbar label.btn {
        margin: 0;
    }

    article {
        display: flex;
        width: 425px;
        height: 180px;
        justify-content: space-between;
    }
    article .img-holder {
        width: 180px;
        height: 180px
    }
    article img {
        width: 180px;
        height: 180px;
    }
}

/* DESKTOP */
@media only screen and (min-width: 1030px) {
    .toolbar {
        width: 100vw;
        top: 90px;
        grid: "categories  search-box searches-toolbar" 65px
            /  18vw        27vw       55vw;
        align-items: center;
        background-color: #eeeeee;
    }

    /* BOTÕES DE CATEGORIA */

    button#categories-toggle {
        display: none;
    }
    nav.categories {
        align-self: flex-start;
    }
    ul#categories {
        display: flex !important;
        height: calc(100vh - 90px);
        top: 0;
        bottom: unset;
    }
    ul#categories li {
        background-color: rgb(255, 222, 74);
        padding: 0.2em 0.5em;
        border-radius: 0.5em;
        margin: 0;
    }
    ul#categories li:hover label {
        background-color: #00597a;
    }
    ul#categories label span {
        display: inline-flex;
        padding-left: 1em;
        font-weight: 600;
        color: #00597a;
    }
    ul#categories label:focus span {
        color: #ffde4a;
    }
    ul#categories li:focus, li:hover span {
        color: #ffde4a !important;
    }
    ul#categories li:focus, li:hover svg {
        fill: #ffde4a;
    }
    ul#categories label.active span {
        color: #ffde4a;
    }
    
    /* CAIXA DE PESQUISA */
    .search-box {
        background-color: #eeeeee;
        justify-content: flex-end;
        border-bottom: #00597a;
    }
    .search-box input {
        z-index: 3;
        width: 70%;
        height: 50%;
    }
    .search-box p#msg-results {
        top: 35vh;
        left: 40vw;
    }

    /* BOTÕES DE PESQUISA */
    button#btn-toolbar-toggle {
        display: none;
    }
    .searches-toolbar {
        grid-area: searches-toolbar;
        position: relative;
        width: 100%;
        vertical-align: bottom;
        background-color: #eeeeee;
    }
    div#btn-toolbar{
        display: flex !important;
        flex-direction: row;
        position: static;
        height: auto;
        margin: auto;
        padding: 0.75em 0;
        background-color: transparent;
    }
    div#filter-search {
        flex-direction: row;
        margin: 0;
        margin-left: 0;
        margin-right: 4em;
        background-color: transparent;
    }
    div#sort-search {
        flex-direction: row;
        margin: 0;
        margin-left: 4em;
        margin-right: 0;
        background-color: transparent;
    }
    div#btn-toolbar label.btn {
        margin: 0;
    }

    div#btn-toolbar label.btn {
        border: none;
        border-radius: unset;
        margin: 0 0.25em;
    }
    div#btn-toolbar label:focus {
        background-color: transparent;
        border: 2px solid #ffde4a;
    }
    div#btn-toolbar label:focus svg {
        fill: #00597a;
    }
    div#btn-toolbar label.active {
        background-color: transparent;
        border-bottom: 2px solid #00597a;
        box-shadow: none;
    }
    div#btn-toolbar label.active svg {
        fill: #00597a;
    }
    div#btn-toolbar label input {
        display: none;
    }
    div#btn-toolbar label svg {
        width: 2em;
        height: 2em;
        fill: #00597a;
        stroke: #00597a;
        stroke-width: 4px;
    }

    /* SEÇÃO DOS CARDS */
    section {
        grid-area: section;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        width: 82vw;
        margin-top: 60px;
        margin-bottom: 50px;
        margin-left: 25vw;
        padding: 2em 0;
        justify-content: flex-start;
    }

    .loader {
        left: 55vw;
        top: 55vh;
    }
}