@charset "UTF-8";

/* MAIN GRID */
main {
    margin-top: 90px;
    /* background-color: rgb(255, 222, 74) !important; */
}

/* TOOLBAR */
.toolbar {
    width: 100vw;
    background-color: rgb(255, 222, 74);
    position: fixed;
    /* top: 90px; */
    bottom: 0;
    z-index: 2;
    display: grid;
    grid: "categories search-box searches-toolbar" 50px
        /  15%       70%         15%;
    align-items: start;
}

/* BOTÕES DE CATEGORIA */
nav.categories {
    grid-area: categories;
    position: relative;
    width: fit-content;
    justify-self: left;
}
ul#categories {
    display: none;
    flex-direction: column;
    width: fit-content;
    position: relative;
    bottom: 550px;
    z-index: 1;
    padding: 0;
    background-color: #ffde4a;
    list-style-type: none;
    transition: bottom 0.25s ease-in-out;
}
ul#categories li {
    background-color: rgb(255, 222, 74);
    padding: 0.45em 0;
}
ul#categories button:focus {
    background-color: #00597a;
}
ul#categories button:focus svg {
    fill: rgb(255, 222, 74);
}
ul#categories button span {
    display: none;
}

/* CAIXA DE PESQUISA */
.search-box {
    grid-area: search-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box button {
    display: none;
}
.search-box input {
    width: 80%;
    height: 70%;
    padding: 0.25em;
    border: 1px solid #00597a;
    border-radius: 0.25em;
}

/* BOTÕES DE PESQUISA */
.searches-toolbar {
    grid-area: searches-toolbar;
    position: relative;
    width: 100%;
    text-align: right;
}
div#btn-toolbar{
    background-color: rgb(255, 222, 74);
    display: none;
    flex-direction: column;
    width: fit-content;
    position: relative;
    bottom: 400px;
    z-index: 1;
    transition: bottom 1s ease-in-out;
}
div#first-search {
    display: flex;
    flex-direction: column;
    margin: 0 0 1em;
}
div#second-search {
    display: flex;
    flex-direction: column;
    margin: 1em 0 0;
}
label.btn {
    margin: 0.45em 0;
}
label input {
    display: none;
}
label.active {
    background-color: #00597a;
    border: 2px solid #ffde4a;
}
label .btn-svg {
    width: 2em;
    height: 2em;
    fill: #00597a;
    stroke: #00597a;
    stroke-width: 4px;
}
label.active .btn-svg {
    fill: #ffde4a;
}

/* SEÇÃO DOS CARDS */
section {
    grid-area: section;
    width: 100%;
    margin-bottom: 50px;
}
article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: none;
    width: 230px;
    height: 370px;
    margin: 0.75em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: hsl(270, 25%, 85%);
}
article:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px hsla(0, 0%, 0%, 5%);
}
article img {
    width: 200px;
    height: 200px;
    margin: 0.5em;
}
article .content {
    width: 230px;
    height: 150px;
    margin: 0.75em 0;
}
article .content-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
article .content-body {
    display: flex;
    padding: 1em;
    padding-top: 0;
}
article a, p, button {
    font-size: 1.1em;
}
article a {
    font-weight: 600;
    color: #00597a;
}
article a:hover {
    color: #881600;
}
article button {
    padding: 0 !important;
}
article button svg {
    fill: #00597a;
}
article button svg:hover {
    fill: #881600;
}

/* MEDIA QUERIES */

/* LANDSCAPE */
@media only screen and (max-height: 425px) and (orientation: landscape) {

    /* BARRA DE CATEGORIAS ABRIR HORIZONTALMENTE */
    ul#categories {
        flex-direction: row;
        height: fit-content;
        bottom: 87px;
    }
    ul#categories li {
        padding: 0 0.45em;
    }

    /* BARRA DE PESQUISAS ABRIR HORIZONTALMENTE */
    div#btn-toolbar{
        flex-direction: row;
        height: fit-content;
        bottom: 87px;
        right: 280px;
    }
    div#first-search {
        flex-direction: row;
        margin: 0 1em;
    }
    div#second-search {
        display: flex;
        flex-direction: row;
        margin: 0 1em;
    }
    
    
    label.btn {
        margin: 0;
    }

    article {
        display: flex;
        width: 450px;
        height: 160px;
        /* 215px inicialmente */
    }

    article img {
        width: 140px;
        height: 140px;
    }
}

/* DESKTOP */
