body{
    background-color: rgb(238, 238, 238);
}

.menu1{
    background-color: rgb(255, 222, 74);
    height:90px;
    display: flex;
    align-items: center;
}

.menu2{
    background-color: rgb(255, 222, 74);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#dLabel{
    margin-right: 10px;
}

.perfil{
    margin-right: 10%;
}

svg{
    fill: #00597a;
    width: 30px;
}

.menu1 .nav-item .dropdown-menu{
    width: 600px;
}

.o-titulo img{
}

a:hover{
    text-decoration: none;
}

a:focus{
    text-decoration: none;
}


.menu2 .dropdown {
    display:inline-block;
    margin-left:20px;
    padding:10px;
}

.dropdown-item{
    color: #00597a;
}


.notifications {
    min-width:420px; 
}
  
.notifications-wrapper {
    overflow:auto;
    max-height:250px;
}
    
.menu-title {
    color:#00597a;
    font-size:1.5rem;
    display:inline-block;
}
 
.glyphicon-circle-arrow-right {
    margin-left:10px;     
}
  
   
.notification-heading, .notification-footer  {
    padding:0px 10px;
}  
      
        
.menu2 .dropdown-menu.divider {
    margin:5px 0;          
}

.menu2 .dropdown-item:focus{
    background-color: #00597a;
}

.item-title { 
    font-size:1.3rem;
    color:#000;
    
}
 
.notification-item {
    padding:10px;
    margin:5px;
    background:#cfd7da86;
    border-radius:4px;
}

p{
    font-size: 0.8em;
}


