body{
    background-color: rgb(238, 238, 238);
}

.menu1{
    background-color: rgb(255, 222, 74);
    height:90px;
    display: flex;
    align-items: center;
}

.menu2{
    background-color: rgb(255, 222, 74);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#dLabel{
    
}

svg{
    fill: #00597a;
    width: 30px;
}

.menu1 .nav-item .dropdown-menu{
    width: 600px;
}


a:hover{
    text-decoration: none;
}

a:focus{
    text-decoration: none;
}


.menu2 .dropdown {
    display:inline-block;
    margin-left:20px;
    padding:10px;
}

.dropdown-item{
    font-size: 1.5em;
    color: #00597a;
}

.dropdown-menu{
    display: none;
}


.notifications {
    min-width:520px; 
}
  
.notifications-wrapper {
    overflow:auto;
    max-height:350px;
}
    
.menu-title {
    color:#00597a;
    font-size:2rem;
    display:inline-block;
}
 
.glyphicon-circle-arrow-right {
    margin-left:10px;     
}
  
   
.notification-heading, .notification-footer  {
    padding:0px 10px;
}  
      
        
.menu2 .dropdown-menu.divider {
    margin:5px 0;          
}

.menu2 .dropdown-item:focus{
    background-color: #00597a;
}

.item-title { 
    font-size:2rem;
    color:#000;
    
}
 
.notification-item {
    padding:10px;
    margin:5px;
    background:#cfd7da86;
    border-radius:4px;
}

p{
    font-size: 1em;
}

main .row{
    margin: 0 20%;
}

@media (max-width: 1300px){
    main .row{
        margin: 0;
    }
}

@media (max-width: 700px){


    .dropdown .notifications{
        display: none;
    }

    .row .col-12, .col-12 .notifications{
        margin:0;
        padding: 0;
    }

    .col-12 .notifications{
        padding-left: 0;
        left:0;
        min-width: 100%;
    }

    p{
        font-size: 1em;
    }

}

