
header.row2 {
     margin-bottom: 50%;
}
.Main{
    margin-top: 30%; 
    margin-left:5%; 
    margin-right: 5%; 
    font-family: 'Roboto', sans-serif;    
}
/*-----Cabeçalho Perfil-----*/
.AlterarPerfil{
    display: flex;
    flex-direction: column;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 5vh;
    box-sizing: border-box;
    justify-content: space-between;
    background-image: linear-gradient(to bottom left,	#005274,  #0299ac);
    margin-top: 50%;
}
.Imagem{
    margin: 0 auto;
}
.Image{
    margin-top: -75%;
    border-radius: 100%;
    width: 130px;
    height: 130px;
}
#Nome{
    padding-top: 2vh;
    font-size: 30px;
    color: white;
    font-weight: 600;
    text-align: center;
}
#About{
    display: none;
    background-color: white;
    color:  #0299ac;
}
#About2{
    background-color: white;
    color:  #0299ac;
}
h3#Sobre{
    font-family:'Montserrat', sans-serif;
    margin:0px;
    padding: 1vh 0;
    text-align: center;
    font-size: 25px;   
    font-weight: 500;
}
#TextoSobre{
    text-align: justify;
    padding: 0 20px 1vh 20px;
    margin: 0;
}

#Info{
    font-size: 16px ;
    text-align: center;
    color: white;
    line-height: 20px;
}

div>button.Config{
    padding: 0;
    width: 100%;
    height: 25px;
    margin-bottom: 2vh;
}
#config{
    padding-left: 5px;
    width: 35px;
    height: 30px;
    padding-bottom: 5px;
}
#color{
    color:  #0299ac;
    margin: 20px auto 0 auto ;
    font-size: 28px;
}


@media (min-width: 700px) and (max-width: 1139px){
    .Main{
    margin-top: 15%; 
    }
    /*-----Cabeçalho Perfil-----*/
    .AlterarPerfil{
        padding-top: 5vh;
        padding-bottom: 5vh;
        width: 70vw;
        margin: 22% auto 0 auto;

    }

    #Nome{
        padding-top: 2vh;
        font-size: 30px;
        text-align: center;
    }
    #Info{
        padding-left: 0;
        font-size: 16px;
        line-height: 20px;
    }
    div>button.Config{
        padding: 0;
        width: 50%;
        height: 40px;
    }
    #config{
        padding-left: 5px;
        width: 40px;
        height: 40px;
        padding-bottom: 5px;
        padding-top: 5px;
        box-sizing: border-box;
    }
    #About{
        display: flex;
    }
    #About2{
        display: none;
        background-color: white;
        color:  #0299ac;
    }

}

@media (min-width: 1140px){
    header.row2 {
        margin: 0 20% ;
    }
    .Main{
        width: 70vw;
        margin: 10% auto;
    }
    .AlterarPerfil{
        padding-left: 7vw;
        padding-right: 7vw;
        padding-top: 5vh;
        box-sizing: border-box;
        background-color: rgba(0, 89, 122, 0.8);
        margin-top: 22%;
    }
    #About{
        display: flex;
        background-color: #ffffff00;
        color: white;
        margin-bottom: 40px;
    }
    #About2{
        display: none;
        background-color: white;
        color:  #0299ac;
    }


    #Nome{
        padding-top: 0;
        margin: 3vh 0;
        font-size: 30px;
        text-align: center;
    }
    #Info{
        font-size: 18px;
        text-align: justify;
        color: white;
        font-weight: 0;
        padding-left: 30px;
    }
    div>button.Config{
        margin: 40px 0 0 15px;
        padding: 0;
        height: 50px;
    }
    #config{
        padding-left: 5px;
        width: 70px;
        height: 50px;
        padding-bottom: 5px;
    }
    .container2{
        width: 100%;
    }
    #MeusCursos{
        margin-top: 30px;
        background-color: white;
        box-sizing: border-box;
    }
}
